@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .mobile-header {
        position: fixed;
        z-index: 20;
        width: 100%;
    }

    .mobile-header .left {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .mobile-header .right {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .header-icon {
        padding: 6px;
        border-radius: 20px;
        width: 32px;
        height: 32px;
        background: hsl(0deg 0% 14% / 50%);
    }

    .mobile-header .more-menu-item>span {
        padding-left: 12px;
        font-size: 13px;
    }

    .review-comment__images {
        margin: 0px 8px 12px 0px;
        border-radius: 2px;
    }

    .review-comment__image,
    .review-images__img {
        height: 40px;
        width: 100%;
        max-width: 40px;
        margin: 0px 8px 12px 0px;
        border-radius: 2px;
    }

    .review-comment__rating-top,
    .customers-review__top-content-right {
        width: 100%;
    }

    .product-action__button {
        margin-top: 8px;
        display: flex;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100vw;
        padding: 12px 16px;
        background: hsl(0deg 0% 100%);
        z-index: 50;
        border-top: 1px solid hsl(0deg 0% 94%);
    }

    .product-button-fixed {
        line-height: 24px;
        padding: 0px;
        text-align: center;
        text-transform: capitalize;
        border-radius: 4px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        -webkit-box-pack: center;
        justify-content: center;
        color: hsl(212deg 87% 38%);
        background: none;
        border: 1px solid hsl(212deg 87% 38%);
    }

    .product-button-fixed>.note {
        font-size: 11px;
        line-height: 16px;
        font-weight: 600;
        text-transform: none;
    }

    .product-button-fixed__click-buy {
        font-size: 15px;
        line-height: 24px;
        padding: 8px 0px;
        text-align: center;
        text-transform: capitalize;
        border-radius: 4px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        -webkit-box-pack: center;
        justify-content: center;
        color: hsl(0deg 0% 100%);
        background-color: hsl(356deg 100% 63%);
    }

    .main-content-left {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .main__product-img {
        width: 100vw !important;
        height: 100% !important;
        margin: 0 auto;
        display: block;
    }

    .main-content-right__title {
        padding: 0;
    }

    .price-and-icon {
        background-color: #fff;
        padding: 0;
    }

    .option-control {
        display: flex;
        border: 1px solid hsl(0deg 0% 88%);
        border-radius: 4px;
        align-items: center;
        padding: 8px 20px 8px 12px;
        margin-top: 8px;
    }

    .option-detail {
        display: flex;
        align-items: center;
        font-size: 13px;
        color: hsl(0deg 0% 14%);
        width: 100%;
        font-size: 13px;
        line-height: 20px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .option-detail img {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        border-radius: 4px;
    }

    .option-detail__name {
        color: hsl(0deg 0% 47%);
    }

    .option-detail__value {
        font-weight: 700;
    }

    .main_discount_coupon {
        flex-direction: row;
        padding: 12px 16px;
        align-items: center;
    }

    .coupon__tag {
        padding: 5px 12px;
        border: 1px solid hsl(212deg 87% 38%);
        border-radius: 4px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        color: hsl(212deg 87% 38%);
        position: relative;
        margin: 0px 4px;
    }

    .view-more-coupon {
        margin: 0;
    }

    .main-content-right {
        margin: 0 16px;
        border: none;
        padding: 0;
    }

    .main-content-right__content {
        display: block;
    }

    .preview-thumnail-product {
        padding-bottom: 0;
    }

    .preview-thumnail-product-items h5 {
        font-size: 15px;
        line-height: 24px;
        color: hsl(240deg 4% 23%);
    }

    .preview-thumnail-product-items__title {
        display: flex;
        justify-content: space-between;
        padding: 0px 8px 0px 0;
        width: 100%;
    }

    .preview-thumnail-product-items__title img {
        display: block;
    }

    .product-items-left {
        grid-template-columns: 88px 24px minmax(0px, 1fr);
        column-gap: 12px;
        margin: 0px 16px;
        padding: 12px 0px;
        border-bottom: 1px solid hsl(0deg 0% 95%);
    }

    .thumbnail-product-item {
        max-width: 108px;
    }

    .thumbnail-product-item img {
        display: block;
        max-width: 88px;
        width: 100%;
        height: 70px;
    }

    .price-container .origin-price {
        margin: 0;
    }

    .price-container {
        flex-direction: column;
    }

    .preview-container {
        display: inline-block;
    }

    .slick-slide {
        width: auto !important;
    }

    .price-summary-mobile {
        display: flex;
        justify-content: space-between;
        padding: 0 16px 0px;
        font-size: 13px;
        line-height: 20px;
        flex-direction: row;
        border: none;
        align-items: center;
    }

    .price-summary-mobile .saved-price {
        font-weight: 700;
        color: hsl(356deg 100% 63%);
    }

    .price-summary-mobile .description {
        color: hsl(240deg 4% 52%);
    }

    .checkout-button-mobile {
        color: hsl(0deg 0% 100%);
        height: 36px;
        font-size: 13px;
        line-height: 20px;
        padding: 8px 12px;
        background: hsl(356deg 100% 63%);
        border-radius: 4px;
    }

    .add-on-service {
        display: block;
        background: #F5F5FA;
        padding: 8px 0;
    }

    .add-on-service .title {
        padding: 8px 16px;
        font-size: 15px;
        line-height: 24px;
        font-weight: 700;
    }

    .add-on-service .item {
        display: flex;
        padding: 12px 16px;
        -webkit-box-align: center;
        align-items: center;
    }

    .add-on-service .item>.info {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
    }

    .add-on-service-content {
        background-color: #fff;
        border-radius: 4px;
    }

    .add-on-service-content .item input {
        width: 17px;
        height: 17px;
        margin-right: 3px;
    }

    .add-on-service-content .item>.info .name {
        font-size: 13px;
        line-height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }

    .add-on-service-content .item>.info .price {
        font-size: 15px;
        line-height: 24px;
        font-weight: 700;
    }

    .similar-product-items h5,
    .detail-infomation__content h5,
    .mobile-product-description__content h5,
    .customers-review__top h5,
    .customers-review__top-content h5,
    .product-slide__wrapper h5 {
        font-size: 15px;
        line-height: 24px;
        font-weight: 700;
        padding: 8px 16px;
    }

    .similar-product {
        padding-bottom: 8px;
    }

    .content__has-table-mobile {
        min-height: 96px;
        font-size: 13px;
        line-height: 20px;
        background: hsl(0deg 0% 100%);
    }

    .attribute-list__item {
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        padding: 14px 8px;
    }

    .attribute-list__item:nth-child(2n+1) {
        background-color: hsl(0deg 0% 98%);
    }

    .attribute-list__item .name {
        flex-basis: 30%;
        flex-shrink: 0;
        color: hsl(0deg 0% 47%);
        font-weight: 600;
    }

    .attribute-list__item .value {
        flex: 2 0 0%;
        color: hsl(0deg 0% 14%);
        padding-left: 8px;
    }

    .attribute-list__item.breadcrums .value a {
        vertical-align: text-bottom;
        text-decoration: none;
    }

    .attribute-list__item.breadcrums .value>div .right-icon {
        height: 16px;
        margin: 2px 4px 0px;
    }

    .show-more {
        color: hsl(212deg 87% 38%);
        padding: 14px 0px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-weight: 700;
    }

    .show-more>svg {
        padding-left: 3px;
        width: 15px;
    }

    .trademark {
        color: hsl(0deg 0% 14%);
        text-decoration: underline;
    }

    .mobile-product-description {
        font-size: 13px;
        line-height: 20px;
        position: relative;
        padding: 0 16px;
    }

    .mobile-product-description::before {
        content: "";
        background-image: linear-gradient(to top, hsl(0deg 0% 100%), hsl(0deg 0% 100% / 0%));
        position: absolute;
        height: 190px;
        right: 0px;
        bottom: 44px;
        left: 0px;
    }

    .mobile-product-description .description {
        height: 208px;
        overflow: hidden;
    }

    .mobile-product-description .description img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .mobile-product-description .show-more {
        color: hsl(212deg 87% 38%);
        padding: 14px 0px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-weight: 700;
        cursor: pointer;
    }

    .detail-infomation,
    .product-description,
    .product-list-items {
        padding-bottom: 8px;
    }

    .product-rating {
        display: flex;
        gap: 3px;
        color: #333;
    }

    .item__review {
        align-items: center;
    }

    .mobile-price.has-discount {
        display: flex;
        justify-content: center;
        color: hsl(356deg 100% 63%);
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        margin: 8px 0px 0px;
    }

    .item__wrapper .bottom {
        display: flex;
        justify-content: center;
    }

    .header-title {
        display: flex;
        padding: 12px;
        background-color: hsl(0deg 0% 100%);
        flex: 1 1 0%;
        font-size: 15px;
        line-height: 24px;
        text-transform: capitalize;
        border-radius: 4px;
        color: hsl(240deg 4% 23%);
    }

    .product-list-items-option {
        align-items: unset;
    }

    .product-list-items-option .show-more {
        border-top: 1px solid hsl(0deg 0% 95%);
        color: hsl(212deg 87% 38%);
        padding: 14px 0px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-weight: 700;
        font-size: 13px;
        width: 100%;
    }

    .product-list-items-option .show-more>svg {
        width: 14px;
        transform: rotate(90deg);
    }

    .reviews__heading {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        padding: 8px 16px;
    }

    .reviews__heading .reviews__label {
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        margin: 0px;
        color: hsl(240deg 4% 16%);
    }

    .reviews__heading .reviews__link {
        font-size: 13px;
        line-height: 20px;
        color: hsl(211deg 91% 47%);
        text-transform: uppercase;
    }

    .total-rating {
        display: flex;
        align-items: center;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: hsl(240deg 4% 52%);
    }

    .total-rating img {
        transform: rotate(180deg);
        width: 24px;
        height: 24px;
    }

    .review-comment__rating-top {
        margin-left: unset;
    }

    .customers-review {
        padding: 12px 0;
    }

    .customers-review__content {
        padding: 16px;
    }

    .mobile-seller-info {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: hsl(240deg 4% 52%);
        margin-bottom: 8px;
        gap: 6px;
    }

    .reviews-feedback {
        display: flex;
        justify-content: space-between;
    }

    .review-comment__reply {
        display: flex;
    }

    .review-comment__reply-icon {
        display: block;
        margin-right: 4px;
    }

    .review-comment__thank {
        border: none;
    }

    .review-comment__rating-top .content {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        margin-bottom: 8px;
        word-break: break-word;
        color: hsl(240deg 4% 16%);
    }

    .review-comment__rating-top .show-more-content {
        color: hsl(0deg 0% 60%);
    }

    .reviews__button {
        display: block;
        padding: 12px 0px;
        border-top: 1px solid hsl(240deg 14% 93%);
    }

    .reviews__button .show-all {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        padding: 10px 0px;
        font-size: 15px;
        line-height: 24px;
        color: hsl(211deg 91% 47%);
        border: 1px solid hsl(211deg 91% 47%);
        border-radius: 4px;
        font-weight: 600;
    }

    .mobile-image-total {
        display: block;
    }

    #slider-container-overflow {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    #slider-container-overflow::-webkit-scrollbar {
        display: none;
    }

    .mobile-tiki-trading {
        display: block;
        background-color: hsl(240deg 33% 97%);
        padding-bottom: 8px;
    }

    .mobile-tiki-trading-content {
        background-color: hsl(0deg 0% 100%);
        border-radius: 4px;
    }

    .mobile-tiki-trading-logo {
        padding: 8px 16px
    }

    .mobile-tiki-trading-logo .logo img {
        width: 44px;
        height: 44px;
        border-radius: 44px;
    }

    .mobile-tiki-trading-logo .overview {
        display: flex;
        justify-content: space-between;
    }

    .seller-detail .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
    }

    .seller-product-price {
        color: hsl(356deg 100% 63%);
        margin-top: 8px;
        padding-left: 8px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
    }

    .seller-product-rating {
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 9px;
        line-height: 12px;
        font-weight: 700;
        padding-left: 8px;
        min-height: 16px;
    }

    .mobile-tiki-trading .seller-action>* {
        display: flex;
        flex: 1 1 0%;
        justify-content: center;
    }

    .store_front_container .product-image {
        position: relative;
    }

    .store_front_container .product-image .discount {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 2;
        font-size: 12px;
        color: hsl(356deg 100% 63%);
        background: hsl(356deg 100% 97%);
        border: 1px solid hsl(356deg 100% 63%);
        border-radius: 2px;
        min-width: 30px;
        min-height: 16px;
        text-align: center;
        padding: 0px 2px;
        line-height: normal;
    }

    .customer-benefit {
        background-color: hsl(240deg 33% 97%);
        padding-bottom: 8px;
    }

    .mobile-customer-benefit {
        background-color: #fff;
    }

    .mobile-customer-benefit .benefit-item>img {
        height: 32px;
        width: 32px;
    }

    .mobile-customer-benefit .benefit-item>div {
        text-align: center;
        font-size: 13px;
        line-height: 20px;
        color: hsl(212deg 87% 38%);
        font-weight: 600;
    }

    .item__wrapper h3 {
        font-size: 13px;
        line-height: 16px;
        height: 33px;
        overflow: hidden;
        margin: 8px 0px 2px;
        white-space: normal;
    }

    .seller-product-sold {
        display: flex;
    }

    .item__wrapper .seller-product-rating {
        padding-left: 0;
    }

    .price.has-discount {
        color: hsl(356deg 100% 63%);
        font-size: 14px;
        line-height: 20px;
        margin-right: 8px;
        font-weight: 700;
    }

    .product-list-items-border {
        border-top: 1px solid hsl(0deg 0% 95%);
        border-right: 1px solid hsl(0deg 0% 95%);
        margin: 0;
    }

    header {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px 16px;
        height: 56px;
        margin: 0 auto;
        justify-content: space-between;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;
        transition: all 5s ease;
        background-color: hsla(0, 0%, 0%, 0);
        ;
    }

    .sticky {
        background-color: #fff;
        height: 60px;
    }

    .show {
        background-color: #fff;
    }

    header .left {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    header .right {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }


    header .right .icon-margin {
        margin-left: 12px;
    }

    header .right .more-wrapper {
        position: relative;
    }

    header .right .more-wrapper .more-icon {
        margin-left: 6px;
    }

    .more-menu-wrapper {
        position: absolute;
        pointer-events: none;
        display: none;
        right: -22px;
    }

    .more-wrapper:hover .more-menu-wrapper {
        display: block;
    }

    .more-menu-list-tiem {
        position: absolute;
        background: url(https://frontend.tikicdn.com/_mobile-next/static/img/more-menu-bg.svg) no-repeat;
        width: 186px;
        padding: 0px;
        color: hsl(0deg 0% 100%);
        border-radius: 5px;
        border-top: 1px solid;
        transition: all 0.5s ease-in 0s;
        max-height: 0px;
        opacity: 0;
        overflow: hidden;
        max-width: 0px;
        top: 40px;
        right: 25px;
        padding: 12px;
        max-height: 220px;
        opacity: 1;
        max-width: 100vw;
    }

    .more-menu-list-tiem .more-menu-item {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 12px 0px;
    }

    .more-menu-list-tiem .more-menu-item>span {
        padding-left: 12px;
        font-size: 13px;
    }

    .mobile-product-action-button {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0;
        z-index: 30;
    }

    .product-action-button {
        margin-top: 8px;
        display: flex;
        gap: 7px;
        padding: 12px 16px;
        background: hsl(0deg 0% 100%);
        z-index: 50;
        border-top: 1px solid hsl(0deg 0% 94%);
    }

    .add_to_cart_button {
        font-size: 14px;
        line-height: 24px;
        padding: 0px;
        text-align: center;
        text-transform: capitalize;
        border-radius: 4px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        -webkit-box-pack: center;
        justify-content: center;
        color: hsl(212deg 87% 38%);
        background: none;
        border: 1px solid hsl(212deg 87% 38%);
    }

    .add_to_cart_button>.note {
        font-size: 11px;
        line-height: 16px;
        font-weight: 500;
    }

    .add_to_cart_button-select {
        font-size: 15px;
        line-height: 24px;
        padding: 8px 0px;
        text-align: center;
        text-transform: capitalize;
        border-radius: 4px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        -webkit-box-pack: center;
        justify-content: center;
        color: hsl(0deg 0% 100%);
        background-color: hsl(356deg 100% 63%);
    }

}

@media (min-width: 740px) and (max-width: 1023px) {}

@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}